<h1 class="current-category"> <%= params[:category] %> </h1>

<% if @books.count == 0 %>
<h1>
  There are no books currently in this category
</h1>
<% else %>
  <% @books.each do |book| %>
  <h3><%= link_to book.title , book_path(book.id) %></h3>
  <% end  %>
<% end %>

<%= link_to "Add book", new_book_path %>