<h1 class="current-category"> <%= params[:category] %> </h1>

<% unless @books.any? %>
<h1>
  There are no books currently in this category
</h1>
<% else %>
  <div class="row book_list">
    <%= render 'book_list' %>
  </div>
<% end %>

<%= link_to "Add book", new_book_path %>