<h1 class="current-category">
  <% if @category.present? %>
    <%= link_to @category.name, category_path(@category) %>
  <% end %>
</h1>

<% if @books.present? %>
  <div class="row book_list">
    <%= render 'book_list' %>
  </div>
<% else %>
  <h1> There are no books currently in this category </h1>
<% end %>

<% if user_signed_in? %>
  <div>
    <%= link_to "Add book", new_book_path, class: "btn btn-custom" %>		
  </div>
<% end %>