<div class="book-box">
  <h1>Category: <%= @category.name %></h1>

  <% if @category && @books.present? %>
    <div class="row">
      <%= render :partial => 'books/book_list' %>
    </div>
  <% else %>
    <h1> There are no books currently in this category </h1>
  <% end %>
</div>